
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache
coverage
lerna-debug.log
**/dist
**/build
**/cdk.out
**/dist
**/build
**/cdk.out